In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


data1 = pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\covid_vaccine_statewise.csv')
data2 =  pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\covid_19_india.csv')
data3 =  pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\StatewiseTestingDetails.csv')
data1.head(10)

,Updated On,State,Total Individuals Vaccinated,Total Sessions Conducted,Total Sites,First Dose Administered,Second Dose Administered,Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Covaxin Administered,Total CoviShield Administered,Total Sputnik V Administered,AEFI,18-45 years (Age),45-60 years (Age),60+ years (Age),Total Doses Administered
0,16/01/2021,India,48276.0,3455.0,2957.0,48276.0,0.0,23757.0,24517.0,2.0,579.0,47697.0,NaN,NaN,NaN,NaN,NaN,48276
1,17/01/2021,India,58604.0,8532.0,4954.0,58604.0,0.0,27348.0,31252.0,4.0,635.0,57969.0,NaN,NaN,NaN,NaN,NaN,58604
2,18/01/2021,India,99449.0,13611.0,6583.0,99449.0,0.0,41361.0,58083.0,5.0,1299.0,98150.0,NaN,NaN,NaN,NaN,NaN,99449
3,19/01/2021,India,195525.0,17855.0,7951.0,195525.0,0.0,81901.0,113613.0,11.0,3017.0,192508.0,NaN,NaN,NaN,NaN,NaN,195525
4,20/01/2021,India,251280.0,25472.0,10504.0,251280.0,0.0,98111.0,153145.0,24.0,3946.0,247334.0,NaN,NaN,NaN,NaN,NaN,251280
5,21/01/2021,India,365965.0,32226.0,12600.0,365965.0,0.0,132784.0,233143.0,38.0,5367.0,360598.0,NaN,NaN,NaN,NaN,NaN,365965
6,22/01/2021,India,549381.0,36988.0,14115.0,549381.0,0.0,193899.0,355402.0,80.0,8128.0,541253.0,NaN,NaN,NaN,NaN,NaN,549381
7,23/01/2021,India,759008.0,43076.0,15605.0,759008.0,0.0,267856.0,491049.0,103.0,11192.0,747816.0,NaN,NaN,NaN,NaN,NaN,759008
8,24/01/2021,India,835058.0,49851.0,18111.0,835058.0,0.0,296283.0,538647.0,128.0,13156.0,821902.0,NaN,NaN,NaN,NaN,NaN,835058
9,25/01/2021,India,1277104.0,55151.0,19682.0,1277104.0,0.0,444137.0,832766.0,201.0,18858.0,1258246.0,NaN,NaN,NaN,NaN,NaN,1277104

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# data1 = pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\covid_vaccine_statewise.csv')
data2 =  pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\covid_19_india.csv')
#data3 =  pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\StatewiseTestingDetails.csv')
data2.head(40)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
5,6,2020-02-04,6:00 PM,Kerala,3,0,0,0,3
6,7,2020-02-05,6:00 PM,Kerala,3,0,0,0,3
7,8,2020-02-06,6:00 PM,Kerala,3,0,0,0,3
8,9,2020-02-07,6:00 PM,Kerala,3,0,0,0,3
9,10,2020-02-08,6:00 PM,Kerala,3,0,0,0,3
10,11,2020-02-09,6:00 PM,Kerala,3,0,0,0,3
11,12,2020-02-10,6:00 PM,Kerala,3,0,0,0,3
12,13,2020-02-11,6:00 PM,Kerala,3,0,0,0,3
13,14,2020-02-12,6:00 PM,Kerala,3,0,0,0,3
14,15,2020-02-13,6:00 PM,Kerala,3,0,0,0,3
15,16,2020-02-14,6:00 PM,Kerala,3,0,0,0,3
16,17,2020-02-15,6:00 PM,Kerala,3,0,0,0,3
17,18,2020-02-16,6:00 PM,Kerala,3,0,0,0,3
18,19,2020-02-17,6:00 PM,Kerala,3,0,0,0,3
19,20,2020-02-18,6:00 PM,Kerala,3,0,0,0,3
20,21,2020-02-19,6:00 PM,Kerala,3,0,0,0,3
21,22,2020-02-20,6:00 PM,Kerala,3,0,0,0,3
22,23,2020-02-21,6:00 PM,Kerala,3,0,0,0,3
23,24,2020-02-22,6:00 PM,Kerala,3,0,0,0,3
24,25,2020-02-23,6:00 PM,Kerala,3,0,0,0,3
25,26,2020-02-24,6:00 PM,Kerala,3,0,0,0,3
26,27,2020-02-25,6:00 PM,Kerala,3,0,0,0,3
27,28,2020-02-26,6:00 PM,Kerala,3,0,0,0,3
28,29,2020-02-27,6:00 PM,Kerala,3,0,0,0,3
29,30,2020-02-28,6:00 PM,Kerala,3,0,0,0,3
30,31,2020-02-29,6:00 PM,Kerala,3,0,0,0,3
31,32,2020-03-01,6:00 PM,Kerala,3,0,0,0,3
32,33,2020-03-02,6:00 PM,Telengana,1,0,0,0,1
33,34,2020-03-02,6:00 PM,Kerala,3,0,0,0,3
34,35,2020-03-02,6:00 PM,Delhi,1,0,0,0,1
35,36,2020-03-03,6:00 PM,Telengana,1,0,0,0,1
36,37,2020-03-03,6:00 PM,Rajasthan,0,1,0,0,1
37,38,2020-03-03,6:00 PM,Kerala,3,0,3,0,3
38,39,2020-03-03,6:00 PM,Delhi,1,0,0,0,1
39,40,2020-03-04,6:00 PM,Uttar Pradesh,6,0,0,0,6

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


# data1 = pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\covid_vaccine_statewise.csv')
#data2 =  pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\covid_19_india.csv')
data3 =  pd.read_csv(r'C:\Users\hp\Desktop\python\datasets\covid19InIndia\StatewiseTestingDetails.csv')
data3.head(10)

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0
5  2020-05-19  Andaman and Nicobar Islands        6965.0      NaN      33.0
6  2020-05-20  Andaman and Nicobar Islands        7082.0      NaN      33.0
7  2020-05-21  Andaman and Nicobar Islands        7167.0      NaN      33.0
8  2020-05-22  Andaman and Nicobar Islands        7263.0      NaN      33.0
9  2020-05-23  Andaman and Nicobar Islands        7327.0      NaN      33.0